:root {
    /* Atualizando as cores */
    --cor-fundo: #F4F4F4;              /* Fundo claro */
    --cor-principal: #4A90E2;          /* Azul claro */
    --cor-secundaria: #50E3C2;         /* Verde água */
    --cor-destaque: #FF8C00;           /* Laranja vibrante */
    --cor-texto: #333333;              /* Texto escuro */
}
  
body {
    background-color: var(--cor-fundo); /* Usando o fundo claro */
    color: var(--cor-texto);             /* Texto escuro */
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal {
    background-color: var(--cor-principal);  /* Azul claro para o fundo da caixa */
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1, .caixa-perguntas, .caixa-resultado {
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    color: var(--cor-destaque);  /* Usando o laranja vibrante para o título */
}

button {
    background-color: var(--cor-secundaria);  /* Verde água para os botões */
    color: var(--cor-texto);                   /* Texto escuro nos botões */
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

button:hover {
    background-color: var(--cor-destaque); /* Laranja vibrante no hover */
    color: var(--cor-principal);           /* Azul claro no texto quando hover */
}

.caixa-resultado {
    display: none;
}

.caixa-resultado.mostrar {
    display: block;
}

.caixa-alternativas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
